<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Mini ERP</title>
        <link rel="STYLESHEET" type="text/css" href="basic.css">
    </head>
    <body>
    <script src="jquery.js"></script>
    <script src="component_show.js"></script>
    <table border="0">
    <TR><TH>Lisäsit:</TH></TR>
    {% for item in parts %}
    <TR><TD>{{ item.id }}</TD><TD>{{ item.part_desc }}</TD><TD>{{ item.order_code }}</TD><TD>{{ item.code }}</TD><TD>{{ item.name }}</TD>
    {% endfor %}
    </TABLE>
    <input type="submit" id="to_part" value="Palaa tuotteeseen"/>
    </body>
</html>
